# {{ ansible_managed }}
[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_user }}
ExecStart=/usr/local/bin/alertmanager \
  --config.file={{ alertmanager_config_dir }}/alertmanager.yml \
  --storage.path={{ alertmanager_data_dir }} \
  --web.listen-address={{ alertmanager_listen_address }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
NoNewPrivileges=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
